.quantity-button-container{
    margin-top: 10px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    display: grid;
    background-color: rgb(236, 236, 236);
    grid-template-columns: 1fr 0.5fr 1fr
}
.quantity-button-container button{
    border-radius: 20px;
    border: none;
    background-color: rgb(236, 236, 236);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.quantity-button-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(236, 236, 236);
    font-size: 20px;
    font-weight: bold;
}